* {
  padding: 0px;
  margin: 0px;
  font-family: "SUSE Mono", sans-serif;
}

body {
    background: linear-gradient(to right, #2b5876, #4e4376);
  background-attachment: fixed; /* stays on scroll */
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0.35rem;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
    border-radius: 1rem;
}

/* make sure particles are full screen */
#tsparticles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* keep particles behind */
}

h2 {
  text-align: center;
  font-size: 48px;
  font-family: "SUSE Mono";
  background-image: linear-gradient(to right, #ff512f, #dd2476);
  -webkit-background-clip: text; /* For WebKit browsers */
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent; /* For WebKit browsers */
}

